[Unit]
Description=Jupyter Notebook - Lab
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/vagrant
ExecStart=/home/vagrant/conda/bin/jupyter lab --port 8888
ExecStop=/home/vagrant/conda/bin/jupyter notebook stop 8888
#Restart=always

[Install]
WantedBy=multi-user.target
