[Unit]
Description=PostgreSQL Docker Compose service
After=network.target docker.service
[Service]
Type=simple
WorkingDirectory=/home/vagrant/postgresql
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml down
#Restart=always
[Install]
WantedBy=multi-user.target
